{
 "system": {
  "cloud_enabled": true,
  "country": "CN",
  "hostname": "ER805",
  "language": "Chinese",
  "log_cloud": true,
  "log_server": {
   "enabled": false,
   "server": [
    {
     "address": "",
     "port": 514
    },
    {
     "address": "",
     "port": 514
    }
   ]
  },
  "mqtt_keepalive": 60,
  "reboot_enabled": true,
  "sfe_enabled": true,
  "sip_alg": true,
  "timezone": "UTC-8",
  "web_timeout": 360,
  "work_mode": "fat_routing",
  "hw_reset_disabled": true,
  "iface_cloud": "cellular1"
 },
 "alerts": {
  "email_out": []
 },
 "vxlan": {},
 "email": {
  "receiver": [],
  "sender": {
   "enable": false,
   "password": "",
   "port": 25,
   "server": "",
   "tls": false,
   "username": ""
  }
 },
 "dhcp": {
  "manual_bind": {},
  "server": {
   "000094828db23456": {
    "alias": "Default",
    "enabled": true,
    "interface": "vlan1",
    "ip_pool": {
     "end_ip": "192.168.10.254",
     "start_ip": "192.168.10.1"
    },
    "lease": 1440,
    "option": {
     "dns1": "",
     "dns2": "",
     "dns_type": "auto",
     "domain_name": ""
    }
   }
  }
 },
 "gre": {},
 "dns": {
  "dns1": "",
  "dns2": ""
 },
 "captive_portal": {},
 "ipsec": {},
 "ippt": {
  "bind_mac": "",
  "enabled": false,
  "dhcp_enabled": true,
  "downlink": "",
  "lease": 2,
  "prefix_len": 16,
  "uplink": "",
  "mode": "default"
 },
 "vrrp": {},
 "record": {
  "cpu_used": 70,
  "mem_used": 70
 },
 "l2tp": {},
 "ntp": {
  "enabled": true,
  "server": [
   {
    "address": "pool.ntp.org",
    "port": 123
   }
  ]
 },
 "data_usage": {
  "sim1": {
   "monthly_data_plan": {
    "enabled": false,
    "over_threshold_oper": "alert",
    "start_date": 1,
    "threshold": 1,
    "threshold_unit": "GB"
   }
  },
  "sim2": {
   "monthly_data_plan": {
    "enabled": false,
    "over_threshold_oper": "alert",
    "start_date": 1,
    "threshold": 1,
    "threshold_unit": "GB"
   }
  }
 },
 "link_quality": {
  "delay": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "enabled": false,
  "jitter": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "loss": {
   "enable": false,
   "sustain": 5,
   "threshold": 5
  },
  "signal": {
   "enable": false,
   "sustain": 5,
   "threshold": 1
  },
  "speed": {
   "rx": 512,
   "tx": 2097152
  },
  "detect_type": "icmp",
  "dns_mode": {
   "dns_domain_1": "",
   "dns_domain_2": "",
   "dns_server_1": "",
   "dns_server_2": ""
  },
  "tcp_mode": {
   "tcp_server_1": "",
   "tcp_server_2": "",
   "tcp_server_port_1": 0,
   "tcp_server_port_2": 0
  }
 },
 "uplink": {
  "down_delay": 0,
  "interface": {
   "0000f0804da7846f": {
    "name": "wan1",
    "priority": 1
   },
   "0000fbd1d5a379a8": {
    "name": "cellular1",
    "priority": 2
   }
  },
  "link_detect": {
   "target": "",
   "target2": ""
  },
  "mode": "load-balance"
 },
 "wlan_ap": {
  "00005b68f7e4ece6": {
   "ap_isolate": false,
   "auth": "WPA2-PSK",
   "band": "2.4G",
   "bandwidth": "20M",
   "channel": "Auto",
   "enabled": true,
   "encrypt": "CCMP",
   "hidden": false,
   "key": "194XGNLY",
   "mode": "ap",
   "name": "wlan1",
   "ssid": "ER805-20791D",
   "txpower": 20,
   "txpower_level": "high",
   "vlan": 1
  },
  "00011436a91e2691": {
   "ap_isolate": false,
   "auth": "WPA2-PSK",
   "band": "5G",
   "bandwidth": "80M",
   "channel": "36",
   "enabled": true,
   "encrypt": "CCMP",
   "hidden": false,
   "key": "194XGNLY",
   "mode": "ap",
   "name": "wlan2",
   "ssid": "ER805-5G-207919",
   "txpower": 20,
   "txpower_level": "high",
   "vlan": 1
  }
 },
 "admin_access": {
  "http": {
   "enabled": false,
   "port": 80
  },
  "https": {
   "enabled": true,
   "port": 443,
   "accept_addr": "",
   "local_enabled": true,
   "local_port": 443
  },
  "ping": {
   "enabled": true,
   "accept_addr": "",
   "local_enabled": true
  },
  "ssh": {
   "enabled": true,
   "port": 22,
   "accept_addr": "",
   "local_enabled": true,
   "local_port": 22
  },
  "telnet": {
   "enabled": false,
   "port": 23,
   "accept_addr": "",
   "local_enabled": true,
   "local_port": 23
  }
 },
 "firewall": {
  "inbound_default": {
   "action": "deny"
  },
  "outbound_default": {
   "action": "permit"
  }
 },
 "admin": {
  "adm_password": "ycYULeNxwuHJSXMY213NSrjwdPoRNZvISTh4l3s2+RHmapoBCBx7G6VwBYjHRPhUKeOrpCENFOHNZJy1xaaZ5AEGCAO3Lii01srmUTIx0/5FqvAs1BhCKTJO4ndlsqr33djWnHhscR2wexg+3SKxCo2W+yTdu8JB3W/yegxKHnCCMDgoJ1APAQM3m4lbSq3F+fOABxFAm37KdJPPlIv7gY9Ho8pcydACO/zaJH9IbIh0Yr1FQRT3/8W0tUS/G6/fTKWWg5t/VZfkVvRJ4CrcESuwucZecKDp2X0O97fO8t2sYT6lJXt+zFQRlfTJx86Zw/0uYwQ9fxemwre5DakiRg==",
  "adm_user": "adm"
 },
 "schedule_reboot": {
  "date": [
   1
  ],
  "time": "00:00",
  "type": "never",
  "week_day": [
   "MON"
  ]
 },
 "policy_route": {
  "ip_rules": []
 },
 "qos": {
  "uplink_rules": {
   "0000f0804da7846f": {
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps",
    "interface": "wan1"
   },
   "0000fbd1d5a37908": {
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps",
    "interface": "cellular1"
   }
  },
  "user_rules": []
 },
 "mac_filter": {
  "mac_list": {},
  "mode": "none"
 },
 "domain_filter": {
  "domain_list": {},
  "mode": "none"
 },
 "port_mapping": {},
 "nat": {
  "nat_rule": []
 },
 "ddns": {},
 "agent_portal": {},
 "cellular": {
  "modem": {
   "conn_mode": "always-online",
   "dual_sim": {
    "backup_sim_policy": {
     "enable_rule": [],
     "revert_day": 1,
     "usage_traffic": "0MB",
     "using_time": "0h"
    },
    "dial_timeout": 120,
    "enabled": false,
    "main_sim": "sim1",
    "priority": [
     "sim1",
     "sim2"
    ]
   },
   "enabled": true,
   "ipv4": {
    "prefix_len": 32
   },
   "mtu": 0,
   "nat": true,
   "sim1": {
    "ims": "auto",
    "network_type": "auto",
    "nr5g_mode": "sa-nsa",
    "pdp_type": "ipv4",
    "pin_code": "",
    "profile": "auto",
    "profile2": "disable",
    "band_lte": [
     "all"
    ],
    "band_nr": [
     "all"
    ],
    "enabled": true
   },
   "sim2": {
    "ims": "auto",
    "network_type": "auto",
    "nr5g_mode": "sa-nsa",
    "pdp_type": "ipv4",
    "pin_code": "",
    "profile": "auto",
    "profile2": "disable",
    "band_lte": [
     "all"
    ],
    "band_nr": [
     "all"
    ],
    "enabled": true
   }
  },
  "profile": {
   "0": {
    "access_num": "*99***1#",
    "apn": "",
    "auth": "auto",
    "password": "",
    "type": "ipv4",
    "username": ""
   },
   "1": {
    "access_num": "*99***1#",
    "apn": "",
    "auth": "auto",
    "password": "",
    "type": "ipv4",
    "username": ""
   },
   "2": {
    "access_num": "*99***1#",
    "apn": "",
    "auth": "auto",
    "password": "",
    "type": "ipv4",
    "username": ""
   },
   "3": {
    "access_num": "*99***1#",
    "apn": "",
    "auth": "auto",
    "password": "",
    "type": "ipv4",
    "username": ""
   }
  }
 },
 "lan": {
  "000094828db22074": {
   "alias": "Default",
   "enabled": true,
   "guest": false,
   "ipv4": {
    "dhcpc": false,
    "ip": "192.168.10.1",
    "prefix_len": 24
   },
   "ipv6": {
    "mode": "disable"
   },
   "l3_vlan": true,
   "mtu": 1500,
   "name": "vlan1",
   "vlan": 1,
   "guest_duration": "2h",
   "guest_uplink": "any"
  }
 },
 "wan": {
  "0000f0804da7846f": {
   "alias": "WAN1",
   "enabled": true,
   "ipv4": {
    "dhcpc": true,
    "dns1": "",
    "dns2": "",
    "gateway": "",
    "ip": "",
    "prefix_len": 0
   },
   "ipv6": {
    "mode": "disable"
   },
   "mtu": 1500,
   "name": "wan1",
   "nat": true,
   "pppoe": {
    "enabled": false,
    "local_ip": "",
    "password": "",
    "remote_ip": "",
    "username": ""
   },
   "vlan": 4010
  }
 },
 "switch_port": {
  "0001006ddcb2b68f": {
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "name": "lan1",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000207a092ba22d1": {
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "name": "lan2",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "0003f431d2e8c5c0": {
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "name": "lan3",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "00046e9d14867e9c": {
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "name": "lan4",
   "pvid": 1,
   "vid": [
    "all"
   ]
  }
 },
 "8021x": {
  "acct_port": 1813,
  "enabled": false,
  "interface": [
   "lan1",
   "lan2",
   "lan3",
   "lan4"
  ],
  "key": "",
  "radius_port": 1812,
  "radius_server": ""
 },
 "static_route4": {
  "000033e78d9a3896": {
   "desc": "default1",
   "destination": "0.0.0.0/0",
   "next_hop": {
    "distance": 1,
    "interface": "wan1",
    "type": "interface"
   }
  },
  "000133e78d9a3896": {
   "desc": "default2",
   "destination": "0.0.0.0/0",
   "next_hop": {
    "distance": 2,
    "interface": "cellular1",
    "type": "interface"
   }
  }
 }
}