!
# product IG502L
!
#system config
language Chinese
hostname EdgeGateway
ip domain-name edgegateway.com.cn
clock timezone UTC-8
service password-encryption
!
#log config
log server 192.168.2.11 port 514
log persistent severity 7
!
#user config
username adm privilege 15 password $1$tzKw.9sc$vhYo9wIpzmD7sYgTOZHMf.
username PQ privilege 15 password $1$7JxIA1eY$pg9wey1NrGpdIJS6Ym3vS/
!
enable password $1$a7D6kbQp$alT.cFcmxX6Vi/4wWxQWl1
!
#aaa config
!
#cron config
remote-login retry 20
!
#alarm config
!
#loopback config
interface loopback 1
  ip address 127.0.0.1 255.0.0.0
!
!
#ethernet interface config
interface fastethernet 0/1
  track l2-state
  ip address dhcp
!
interface fastethernet 0/2
!
!
#Ethernet sub interface config
!
#cellular config
cellular 1 gsm profile 1 3gnet *99***1# auto gprs $AES$1AECAFF97D1C43422E0186407306E5AA
cellular 1 dial interval 10
cellular 1 signal interval 120
cellular 1 network auto
cellular 1 pdp_type ipv4v6
cellular 1 dual-sim main 1
cellular 1 dual-sim policy redial 3
cellular 1 dual-sim policy uptime 600
cellular 1 sms mode text
cellular 1 sms interval 30
!
interface cellular 1
  dialer profile 1
  dialer profile auto secondary
  dialer timeout 120
  dialer activate auto
  ip address negotiated
  ip mru 1500
  ip mtu 1500
  dialer infinitely-retry
  ppp ipcp dns request
  ppp keepalive 55 5
!
!
#dot11 config
interface dot11radio 1
  shutdown
  ip address dhcp
  station-role workgroup-bridge
  radio-type dot11bgn
  client-mode ssid 0x696E68616E642D76697369746F722D3267
  client-mode authentication-method wpa 2
  client-mode cipher-suite ccmp key ascii $AES$A6B9365F89865A16D304EEC9F5FB9015
  client-mode default-route
!
!
#bridge config
!
bridge 1
!
interface bridge 1
  ip address 192.168.2.1 255.255.255.0
!
interface fastethernet 0/2
  bridge-group 1
!
!
!
#dialer config
!
#ipsec config
crypto ipsec-daemon start
crypto ikev1 policy 11
  encryption 3des
  hash md5
  group 2
  lifetime 86400
!
crypto ipsec transform-set 22 esp-3des esp-sha1-hmac
  mode tunnel
!
!
#l2tp config
vpdn-group 1
  ppp authentication chap adm $AES$834A3CC93A08A6E9F44A1E7147F500DA
  ip address static local 192.168.100.10
  peer default ip address range 192.168.100.11 192.168.100.20
  ppp keepalive 60 5
  protocol l2tp
!
l2tp-class test
!
pseudowire-class 222
  encapsulation l2tpv2
  protocol l2tpv2 test
  ip local interface dot11radio 1
  no ip dfbit set
  no ip pmtu
!
interface virtual-ppp 1
  pseudowire 118.112.203.115 1 pw-class 222
  ip address negotiated
  ip mru 1460
  ip mtu 1460
  ppp authentication chap user $AES$7C24B04588993323CC0C0334E66B1072
!
!
#openvpn config
interface openvpn 1
  auto-configuration openvpn 1

##############################################
# Sample client-side OpenVPN 2.0 config file #
# for connecting to multi-client server.     #
#                                            #
# This configuration can be used by multiple #
# clients, however each client should have   #
# its own cert and key files.                #
#                                            #
# On Windows, you might want to rename this  #
# file so it has a .ovpn extension           #
##############################################

# Specify that we are a client and that we
# will be pulling certain config file directives
# from the server.
client

# Use the same setting as you are using on
# the server.
# On most systems, the VPN will not function
# unless you partially or fully disable
# the firewall for the TUN/TAP interface.
dev openvpn1
dev-type tun

# Windows needs the TAP-Win32 adapter name
# from the Network Connections panel
# if you have more than one.  On XP SP2,
# you may need to disable the firewall
# for the TAP adapter.
;dev-node MyTap

# Are we connecting to a TCP or
# UDP server  Use the same setting as
# on the server.
;proto tcp
proto udp

# The hostname/IP and port of the server.
# You can have multiple remote entries
# to load balance between the servers.
remote ap.ics.inhandiot.com 31284

# Choose a random host from the remote
# list for load-balancing.  Otherwise
# try hosts in the order specified.
;remote-random

# Keep trying indefinitely to resolve the
# host name of the OpenVPN server.  Very useful
# on machines which are not permanently connected
# to the internet such as laptops.
resolv-retry infinite

# Most clients don't need to bind to
# a specific local port number.
nobind

# Downgrade privileges after initialization (non-Windows only)
;user nobody
;group nobody

# Try to preserve some state across restarts.
persist-key
persist-tun

# If you are connecting through an
# HTTP proxy to reach the actual OpenVPN
# server, put the proxy server/IP and
# port number here.  See the man page
# if your proxy server requires
# authentication.
;http-proxy-retry # retry on connection failures
;http-proxy [proxy server] [proxy port #]

# Wireless networks often produce a lot
# of duplicate packets.  Set this flag
# to silence duplicate packet warnings.
;mute-replay-warnings

# SSL/TLS parms.
# See the server config file for more
# description.  It's best to use
# a separate .crt/.key file pair
# for each client.  A single ca
# file can be used for all clients.
;ca ca.crt
;cert zly.crt
;key zly.key



# Verify server certificate by checking
# that the certicate has the nsCertType
# field set to "server".  This is an
# important precaution to protect against
# a potential attack discussed here:
#  http://openvpn.net/howto.html#mitm
#
# To use this feature, you will need to generate
# your server certificates with the nsCertType
# field set to "server".  The build-key-server
# script in the easy-rsa folder will do this.
;ns-cert-type server

; auth-user-pass auth.txt

# If a tls-auth key is used on the server
# then every client must also have the key.
;tls-auth ta.key 1

# Select a cryptographic cipher.
# If the cipher option is used on the server
# then you must also specify it here.
cipher AES-256-CBC

# Enable compression on the VPN link.
# Don't enable this unless it is also
# enabled in the server config file.
comp-lzo


push-peer-info

ignore-unknown-option compress comp-lzo

# Set log file verbosity.
verb 3

# Silence repeating messages
;mute 20

reneg-sec 0




















  quit
!
!
#openvpn server config
!
#web config
ip web-access timeout 3600
ip https access enable
!
#device-manager config
device-manager enable
device-manager server iot.inhand.com.cn
device-manager tls
device-manager account caoqb@inhand.com.cn
device-manager location cellular
!
#InConnect config
inconnect enable
inconnect server ics.inhandiot.com
inconnect account caoqb@inhand.com.cn
inconnect location cellular
!
#DeviceLive config
devicelive mode off
devicelive server cn
!
#Erlang config
erlang mode off
erlang server iscada.inhandcloud.cn
!
#Custome Cloud Cert
!
#telnet server config
ip telnet server port 23
no ip telnet access enable
!
#ssh server config
ip ssh server port 22
crypto ssh-key generate rsa modulus 1024
ip ssh timeout 0
!
#dhcp-relay config
!
#dns-relay config
ip dns-relay server
!
#dhcp server config
interface bridge 1
  ip dhcp-server enable
  ip dhcp-server range 192.168.2.1 192.168.2.254
  ip dhcp-server lease 1440
!
!
#dns config
!
ip protocol dns 1
!
#ip host config
!
#ddns config
!

#bluetooth config
bluetooth name IG_bluetooth
bluetooth mode ble
bluetooth work-mode master
!
#snmp config

#ovdp config
!
!

#huaweicloud config
!

#Azure IoT Edge config
!

#AWS IoT Greengrass config
!
#ntp server config
  ntp master 2
  ntp server 0.pool.ntp.org
  ntp server 1.pool.ntp.org
  ntp server 2.pool.ntp.org
  ntp server 3.pool.ntp.org
!
!

#Telegraf config
!

#abbcloud config
abbcloud prefix-len 64
abbcloud verify-client 1
!
#email config
!
#sntp client config
sntp-client
sntp-client update-interval 60
sntp-client server 54.223.100.252 port 123
sntp-client server ntp.aliyun.com port 123
!
#gre config
!
#static route config
ip route 0.0.0.0 0.0.0.0 dot11radio 1
ip route 0.0.0.0 0.0.0.0 fastethernet 0/1 253
!
#rip config
!
!
#ospf config
!
!
#filtering config
!
#bgp config
!
!
#firewall config
!
!
interface cellular 1
  ip access-group 192 admin
!
access-list 100 10 permit ip any any 
access-list 101 10 permit ip any any 
access-list 102 10 permit ip any any 
access-list 192 10 permit tcp any any eq 443 log
access-list 192 20 deny tcp any any eq 80 
access-list 192 30 deny tcp any any eq 23 
access-list 192 40 deny tcp any any eq 22 
access-list 192 50 deny tcp any any eq 53 
access-list 192 60 deny udp any any eq 53 
access-list 193 10 permit ip 10.8.0.0 0.0.255.255 any 
interface openvpn 1
  ip nat outside
!
interface cellular 1
  ip nat outside
!
interface bridge 1
  ip nat inside
!
interface fastethernet 0/1
  ip nat outside
!
!
ip snat inside list 101 interface fastethernet 0/1 
ip snat inside list 100 interface cellular 1 
ip snat outside list 193 interface bridge 1 description ics_nat 
!
!
!
!
!
#tcp mss config
ip tcp adjust-mss 1360
!
!
!
#netwatcher config
!
!
#sla config
!
#track config
!
#vrrpd config
!
#backup config
!
#mroute config
!
#cert config
!
!
#cert enroll config
crypto key generate rsa general-keys modulus 1024
!
!
#dls config
!
#gps config
  gps enable
  gps type 3
!
#gps serial config
!
#gps server config
!
#gps client config
!
#Serial Configuration
serial 1
!
serial 2
!
!
#python config
python debug
python fix-password $AES$834A3CC93A08A6E9F44A1E7147F500DA
python enable
python log username adm password $AES$BFA541FA10FA3B041CBA4412D12C52B8
python app 1 on
python appcmd 1 logsize 10 2
device_supervisor 
quit
!
!
#Modbus IO Configuration
io config digital input 1 di
io config digital input 2 di
io config digital input 3 di
io config digital input 4 di
io config relay 1 output retentive on
io config relay 2 output retentive off
io config relay 3 output retentive off
io config relay 4 output retentive off
!
#traffic-stated config
!
#data-usage config
#end of configuration