{
 "ntp": {
  "enabled": true,
  "server": [
   {
    "address": "pool.ntp.org",
    "port": 123
   }
  ]
 },
 "dhcp": {
  "server": {
   "000094828db23456": {
    "enabled": true,
    "interface": "vlan1",
    "alias": "Default",
    "lease": 1440,
    "ip_pool": {
     "start_ip": "192.168.100.2",
     "end_ip": "192.168.100.254"
    },
    "option": {
     "domain_name": "",
     "dns_type": "auto",
     "dns1": "",
     "dns2": ""
    }
   }
  },
  "manual_bind": {}
 },
 "email": {
  "receiver": [],
  "sender": {
   "enable": false,
   "server": "",
   "port": 25,
   "username": "",
   "password": "",
   "tls": false
  }
 },
 "ippt": {
  "enabled": false,
  "bind_mac": "",
  "uplink": "",
  "downlink": "",
  "dhcp_enabled": true,
  "lease": 60
 },
 "vxlan": {},
 "alerts": {
  "email_out": []
 },
 "ipsec": {},
 "l2tp": {
  "server": {
   "enabled": false,
   "end_ip": "6.6.6.254",
   "interface": "wan4",
   "ip": "6.6.6.1",
   "password": "IBoJRTIslT4iOBoW4l68Iz/+AV1ukQolesBjjswezXezvm92U19SvJFO0R3g2JIcxAKxUjk4jP5UCT7HIAYqxNVlknDs+QBG6oH6tS32hRV5C9iIna7KWmvfS/jcfLRYYoMGOGCqIYBs16WT3sz/Z5jzGyE+CalI3RXIiiHWGbu2QtQe2LHEKAzQ7a/kA90tEA7JduiSu3wTbyNKsInLeN5SYcXMe4qBI0i07c1Z7bJ0kkZmQpR1L1gIVpwpa9QOjbWyBkLakn1AfwEOT0zAzx5EWGaXY/27scXKt1TUKAxsNIEpceeG9TqzGwgc7TP5/DumJ1xdUta+t6GtgqthUQ==",
   "start_ip": "6.6.6.1",
   "tunnel_auth": {
    "enabled": false,
    "server": "",
    "password": ""
   },
   "username": "adm",
   "ppp_auth": "auto",
   "client": {}
  }
 },
 "record": {
  "cpu_used": 70,
  "mem_used": 70,
  "poe_used": 70
 },
 "dns": {
  "dns1": "",
  "dns2": ""
 },
 "uplink": {
  "mode": "failover",
  "down_delay": 0,
  "link_detect": {
   "target": "",
   "target2": ""
  },
  "interface": {
   "0000f0804da7846f": {
    "name": "wan1",
    "priority": 3
   },
   "00019ee4fada2f53": {
    "name": "wan2",
    "priority": 4
   },
   "00027131209ae797": {
    "name": "wan3",
    "priority": 2
   },
   "00037128bdf3e65c": {
    "name": "wan4",
    "priority": 1
   }
  }
 },
 "ddns": {},
 "admin": {
  "adm_user": "adm",
  "adm_password": "YcDpM1RxsO1xErOxtu/04MTMlEnf9zq5ZxtXVUMrduaEVuC3BgPM2qrXFbIykF5bbZYVdgZ8p6tMKOv2FSsRYKuAetxXfY5pKpCM4X3bCBwJ3qGc2V2TG+5FOSXLllD6TCtNs/p3wJDc+vkNosC3sT6fqeZwjhhy6W42HTIxJehg/80Mi7niiZTmFuSNhVPMd+AmhnZIgK/C7e1KufWZFKRw//TxTAS670hAAcePaOtQTz6Q015fTjAyVaYUZsD5Rv6BOhMBH9wKfVTyEW6PfIijikj4lEEk0RipO/4ZkSZpqdyXIcA+lkrBoyR/M+hCIS/lxB5M6Bl5bX4U4z/Khw=="
 },
 "admin_access": {
  "http": {
   "enabled": false,
   "port": 80
  },
  "https": {
   "enabled": false,
   "port": 1443
  },
  "ssh": {
   "enabled": true,
   "port": 2222
  },
  "telnet": {
   "enabled": false,
   "port": 23
  },
  "ping": {
   "enabled": true
  }
 },
 "lan": {
  "000094828db22074": {
   "name": "vlan1",
   "alias": "Default",
   "vlan": 1,
   "enabled": true,
   "mtu": 1500,
   "l3_vlan": true,
   "guest": false,
   "single": false,
   "ipv4": {
    "dhcpc": false,
    "ip": "192.168.100.1",
    "prefix_len": 24
   },
   "ipv6": {
    "mode": "disable"
   }
  }
 },
 "schedule_reboot": {
  "type": "never",
  "time": "01:00",
  "week_day": [
   "THU"
  ],
  "date": [
   1
  ]
 },
 "link_quality": {
  "enabled": true,
  "delay": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "jitter": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "loss": {
   "enable": false,
   "sustain": 5,
   "threshold": 5
  },
  "signal": {
   "enable": false,
   "sustain": 5,
   "threshold": 1
  },
  "speed": {
   "rx": 512,
   "tx": 2097152
  }
 },
 "wan": {
  "0000f0804da7846f": {
   "name": "wan1",
   "alias": "WAN1",
   "enabled": true,
   "mtu": 1500,
   "nat": true,
   "ipv4": {
    "dhcpc": true,
    "ip": "",
    "prefix_len": 0,
    "gateway": "",
    "dns1": "",
    "dns2": ""
   },
   "pppoe": {
    "enabled": false,
    "username": "",
    "password": "",
    "local_ip": "",
    "remote_ip": ""
   },
   "ipv6": {
    "mode": "disable"
   }
  },
  "00019ee4fada2f53": {
   "name": "wan2",
   "alias": "WAN2",
   "enabled": true,
   "mtu": 1500,
   "nat": true,
   "ipv4": {
    "dhcpc": true,
    "ip": "",
    "prefix_len": 0,
    "gateway": "",
    "dns1": "",
    "dns2": ""
   },
   "pppoe": {
    "enabled": false,
    "username": "",
    "password": "",
    "local_ip": "",
    "remote_ip": ""
   },
   "ipv6": {
    "mode": "disable"
   }
  },
  "00027131209ae797": {
   "name": "wan3",
   "alias": "WAN3",
   "enabled": true,
   "mtu": 1500,
   "nat": true,
   "ipv4": {
    "dhcpc": false,
    "ip": "117.185.44.67",
    "prefix_len": 29,
    "gateway": "117.185.44.65",
    "dns1": "223.5.5.5",
    "dns2": "119.29.29.29"
   },
   "pppoe": {
    "enabled": false,
    "username": "",
    "password": "",
    "local_ip": "",
    "remote_ip": ""
   },
   "ipv6": {
    "mode": "disable"
   }
  },
  "00037128bdf3e65c": {
   "name": "wan4",
   "alias": "WAN4",
   "enabled": true,
   "mtu": 1500,
   "nat": true,
   "ipv4": {
    "dhcpc": false,
    "ip": "140.207.15.4",
    "prefix_len": 29,
    "gateway": "140.207.15.1",
    "dns1": "223.5.5.5",
    "dns2": ""
   },
   "pppoe": {
    "enabled": false,
    "username": "",
    "password": "",
    "local_ip": "",
    "remote_ip": ""
   },
   "ipv6": {
    "mode": "disable"
   }
  }
 },
 "firewall": {
  "inbound_default": {
   "action": "deny"
  },
  "outbound_default": {
   "action": "permit"
  }
 },
 "policy_route": {
  "ip_rules": []
 },
 "qos": {
  "uplink_rules": {
   "0000f0804da7846f": {
    "interface": "wan1",
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps"
   },
   "00019ee4fada2f53": {
    "interface": "wan2",
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps"
   },
   "00027131209ae797": {
    "interface": "wan3",
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps"
   },
   "00037128bdf3e65c": {
    "interface": "wan4",
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps"
   }
  },
  "user_rules": []
 },
 "mac_filter": {
  "mode": "none",
  "mac_list": {}
 },
 "domain_filter": {
  "mode": "none",
  "domain_list": {}
 },
 "port_mapping": {},
 "nat": {
  "nat_rule": []
 },
 "switch_port": {
  "0001f0804da7846f": {
   "name": "wan1",
   "enabled": true,
   "link_rate": "auto",
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  },
  "00029ee4fada2f53": {
   "name": "wan2",
   "enabled": true,
   "link_rate": "auto",
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  },
  "00037131209ae797": {
   "name": "wan3",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  },
  "00047128bdf3e65c": {
   "name": "wan4",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  },
  "00059d9a4dd890c2": {
   "name": "lan5",
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "0006bd1e75c8567d": {
   "name": "lan6",
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "0007ad36982e753d": {
   "name": "lan7",
   "enabled": true,
   "link_rate": "auto",
   "combo_mode": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "00081cf32b909ad8": {
   "name": "lan8",
   "enabled": true,
   "link_rate": "auto",
   "combo_mode": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "0009d53efa9a9428": {
   "name": "lan9",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000a8a631be31509": {
   "name": "lan10",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000bd9a57b9eb7b3": {
   "name": "lan11",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000c47ed04ab4bdf": {
   "name": "lan12",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000dca30ecf66d6f": {
   "name": "lan13",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000e16adc65a8653": {
   "name": "lan14",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "000f272a763cdf42": {
   "name": "lan15",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "0010a3f2b6d4814d": {
   "name": "lan16",
   "enabled": true,
   "link_rate": "auto",
   "poe_enabled": true,
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  }
 },
 "system": {
  "hostname": "ER2000",
  "timezone": "UTC-8",
  "language": "Chinese",
  "web_timeout": 360,
  "reboot_enabled": false,
  "sip_alg": true,
  "cloud_enabled": true,
  "sfe_enabled": false,
  "mqtt_keepalive": 60,
  "log_cloud": true,
  "country": "China",
  "work_mode": "fat_routing",
  "log_server": {
   "enabled": false,
   "server": [
    {
     "address": "",
     "port": 514
    },
    {
     "address": "",
     "port": 514
    }
   ]
  },
  "iface_cloud": "any"
 },
 "static_route4": {
  "000033e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default1",
   "next_hop": {
    "type": "interface",
    "interface": "wan1",
    "distance": 1
   }
  },
  "000133e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default2",
   "next_hop": {
    "type": "interface",
    "interface": "wan2",
    "distance": 2
   }
  },
  "000233e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default3",
   "next_hop": {
    "type": "interface",
    "interface": "wan3",
    "distance": 3
   }
  },
  "000333e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default4",
   "next_hop": {
    "type": "interface",
    "interface": "wan4",
    "distance": 4
   }
  },
  "0001681d6f963e96": {
   "destination": "1.2.4.8/32",
   "next_hop": {
    "distance": 60,
    "interface": "wan3",
    "type": "interface"
   },
   "desc": ""
  }
 }
}