{
 "dhcp": {
  "server": {
   "000094828db23456": {
    "enabled": true,
    "interface": "vlan1",
    "alias": "Default",
    "lease": 1440,
    "ip_pool": {
     "start_ip": "172.16.33.1",
     "end_ip": "172.16.33.254"
    },
    "option": {
     "domain_name": "",
     "dns_type": "auto",
     "dns1": "",
     "dns2": ""
    }
   }
  },
  "manual_bind": {}
 },
 "dns": {
  "dns1": "",
  "dns2": ""
 },
 "ntp": {
  "enabled": true,
  "server": [
   {
    "address": "pool.ntp.org",
    "port": 123
   }
  ]
 },
 "data_usage": {
  "sim1": {
   "monthly_data_plan": {
    "enabled": false,
    "threshold": 1,
    "threshold_unit": "GB",
    "start_date": 1,
    "over_threshold_oper": "alert"
   }
  },
  "sim2": {
   "monthly_data_plan": {
    "enabled": false,
    "threshold": 1,
    "threshold_unit": "GB",
    "start_date": 1,
    "over_threshold_oper": "alert"
   }
  },
  "esim": {
   "monthly_data_plan": {
    "enabled": false,
    "threshold": 1,
    "threshold_unit": "GB",
    "start_date": 1,
    "over_threshold_oper": "alert"
   }
  }
 },
 "email": {
  "receiver": [],
  "sender": {
   "enable": false,
   "server": "",
   "port": 25,
   "username": "",
   "password": "",
   "tls": false
  }
 },
 "ippt": {
  "enabled": false,
  "bind_mac": "",
  "uplink": "",
  "downlink": "",
  "prefix_len": 16,
  "dhcp_enabled": true,
  "lease": 2
 },
 "uplink": {
  "mode": "failover",
  "down_delay": 0,
  "link_detect": {
   "target": "",
   "target2": ""
  },
  "interface": {
   "0000f0804da7846f": {
    "name": "wan1",
    "priority": 2
   },
   "0000fbd1d5a379a8": {
    "name": "cellular1",
    "priority": 3
   }
  }
 },
 "vxlan": {},
 "wlan_ap": {
  "00005b68f7e4ece6": {
   "name": "wlan1",
   "band": "2.4G",
   "mode": "ap",
   "enabled": false,
   "ssid": "ER815-3E1260",
   "auth": "WPA2-PSK",
   "encrypt": "CCMP",
   "key": "06ASV4QB",
   "vlan": 1,
   "channel": "Auto",
   "txpower_level": "auto",
   "txpower": 0,
   "ap_isolate": false,
   "hidden": false,
   "bandwidth": "20M"
  },
  "00011436a91e2691": {
   "name": "wlan2",
   "band": "5G",
   "mode": "ap",
   "enabled": true,
   "ssid": "ER815-5G-3E125E",
   "auth": "WPA2-PSK",
   "encrypt": "CCMP",
   "key": "06ASV4QB",
   "vlan": 1,
   "channel": "36",
   "txpower_level": "auto",
   "txpower": 0,
   "ap_isolate": false,
   "hidden": false,
   "bandwidth": "80M"
  }
 },
 "admin": {
  "adm_user": "adm",
  "adm_password": "gI/BHHwj9ThWfnezrCuXwonY77uI5VIToIt06R/+kTIBsj5RDrJYKAZGONfIBt87hK4kAOCH8dZUII70h5ir02Vz8Qs+SBG4xaLXwq3UQ8pC/CdDQJAdC8GfSLiW13WznuEyHGMf1SoGi4aNHTQ0GDYruU9cViQ8Sipi9i1tFoZVBXkPMRvExyCnMfR7WQQ7ObZgsMz/Ys2Kn8wHISPb0GX0Vh8oB7/9OCbFaMe+YhI2IyfCcqj5pzI+E/5pJ6Agg+QD0pkceF+qKnozxyJPpvzeq3YqKPGrHNIDD7hR0B60PRUgmb7RIqjnsaQ7aP/OUo3sy0w1z5tXhkZjOT2raw=="
 },
 "alerts": {
  "email_out": []
 },
 "record": {
  "cpu_used": 70,
  "mem_used": 70
 },
 "l2tp": {
  "server": {
   "enabled": true,
   "interface": "wan1",
   "ip": "192.168.200.1",
   "start_ip": "192.168.200.1",
   "end_ip": "192.168.200.254",
   "username": "inhand",
   "password": "yDwdf80FsP6tQIlVsjLI04nHwO8l+IfS0bizeNqpt/i3wC0F4kiw2iKE08cQhlMzcrfmDFHyPb3ctPpWwENgEW0lkzuMXqefXPCUkxEbEvuczYbzoeeUc9ii4aZlo+H6IpZeyXJhsO70Kx+XXmdVa8XsyaOstw4qWOEEHlNwjK8q9PvhX1IQ966wjJbkzXDgsrKPt7PVduyrNBLc1pzx1y1eac+XaqJ6mPIcEaAvAIG34iofUHGhsGbDCP2yXZQQgLNYoeX3MK//3XEqYwaYfDO2NT8K/x2fpza03DY+bpOhAEhMx0/4EaLk0ZoPLCYo+q9OYWtR50NJlOeBT5DSCg==",
   "ppp_auth": "auto",
   "tunnel_auth": {
    "enabled": false,
    "server": "",
    "password": ""
   }
  }
 },
 "ipsec": {},
 "link_quality": {
  "enabled": true,
  "delay": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "jitter": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "loss": {
   "enable": false,
   "sustain": 5,
   "threshold": 5
  },
  "signal": {
   "enable": false,
   "sustain": 5,
   "threshold": 1
  },
  "speed": {
   "rx": 512,
   "tx": 2097152
  }
 },
 "gre": {},
 "schedule_reboot": {
  "type": "never",
  "time": "00:00",
  "week_day": [
   "MON"
  ],
  "date": [
   1
  ]
 },
 "ddns": {},
 "static_route4": {
  "000033e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default1",
   "next_hop": {
    "type": "interface",
    "interface": "wan1",
    "distance": 1
   }
  },
  "000133e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default2",
   "next_hop": {
    "type": "interface",
    "interface": "cellular1",
    "distance": 2
   }
  }
 },
 "cellular": {
  "modem": {
   "enabled": true,
   "nat": true,
   "sim1": {
    "enabled": true,
    "roaming": false,
    "profile": "auto",
    "profile2": "disable",
    "network_type": "auto",
    "nr5g_mode": "sa-nsa",
    "pin_code": "",
    "pdp_type": "ipv4",
    "ims": "auto"
   },
   "sim2": {
    "enabled": true,
    "roaming": false,
    "profile": "auto",
    "profile2": "disable",
    "network_type": "auto",
    "nr5g_mode": "sa-nsa",
    "pin_code": "",
    "pdp_type": "ipv4",
    "ims": "auto"
   },
   "esim": {
    "enabled": false,
    "roaming": false,
    "profile": "auto",
    "profile2": "disable",
    "network_type": "auto",
    "nr5g_mode": "sa-nsa",
    "pin_code": "",
    "pdp_type": "ipv4",
    "ims": "auto"
   },
   "conn_mode": "always-online",
   "dual_sim": {
    "enabled": false,
    "main_sim": "sim1",
    "priority": [
     "sim1",
     "esim",
     "sim2"
    ],
    "dial_timeout": 120,
    "backup_sim_policy": {
     "enable_rule": [],
     "usage_traffic": "0MB",
     "using_time": "0h",
     "revert_day": 1
    }
   },
   "mtu": 0,
   "ipv4": {
    "prefix_len": 32
   }
  },
  "profile": {
   "0": {
    "type": "ipv4",
    "apn": "",
    "access_num": "*99***1#",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "1": {
    "type": "ipv4",
    "apn": "",
    "access_num": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "2": {
    "type": "ipv4",
    "apn": "",
    "access_num": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "3": {
    "type": "ipv4",
    "apn": "",
    "access_num": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "4": {
    "type": "ipv4",
    "apn": "",
    "access_num": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "5": {
    "type": "ipv4",
    "apn": "",
    "access_num": "",
    "auth": "auto",
    "username": "",
    "password": ""
   }
  }
 },
 "admin_access": {
  "http": {
   "enabled": false,
   "port": 80
  },
  "https": {
   "enabled": true,
   "port": 443
  },
  "ssh": {
   "enabled": false,
   "port": 22
  },
  "telnet": {
   "enabled": false,
   "port": 23
  },
  "ping": {
   "enabled": true
  }
 },
 "firewall": {
  "inbound_default": {
   "action": "deny"
  },
  "outbound_default": {
   "action": "permit"
  }
 },
 "policy_route": {
  "ip_rules": []
 },
 "mac_filter": {
  "mode": "none",
  "mac_list": {}
 },
 "domain_filter": {
  "mode": "none",
  "domain_list": {}
 },
 "port_mapping": {},
 "nat": {
  "nat_rule": []
 },
 "system": {
  "hostname": "ER815",
  "timezone": "UTC-8",
  "language": "Chinese",
  "web_timeout": 360,
  "reboot_enabled": true,
  "sip_alg": true,
  "cloud_enabled": true,
  "sfe_enabled": true,
  "mqtt_keepalive": 60,
  "log_cloud": true,
  "iface_cloud": "any",
  "country": "US",
  "work_mode": "fat_routing",
  "hw_reset_disabled": false,
  "log_server": {
   "enabled": false,
   "server": [
    {
     "address": "",
     "port": 514
    },
    {
     "address": "",
     "port": 514
    }
   ]
  }
 },
 "lan": {
  "000094828db22074": {
   "name": "vlan1",
   "alias": "Default",
   "vlan": 1,
   "enabled": true,
   "mtu": 1500,
   "l3_vlan": true,
   "guest": false,
   "ipv4": {
    "dhcpc": false,
    "ip": "172.16.33.1",
    "prefix_len": 24
   },
   "ipv6": {
    "mode": "disable"
   }
  }
 },
 "wan": {
  "0000f0804da7846f": {
   "name": "wan1",
   "alias": "WAN1",
   "enabled": true,
   "mtu": 1500,
   "nat": true,
   "ipv4": {
    "dhcpc": true,
    "ip": "",
    "prefix_len": 0,
    "gateway": "",
    "dns1": "",
    "dns2": ""
   },
   "pppoe": {
    "enabled": false,
    "username": "",
    "password": "",
    "local_ip": "",
    "remote_ip": ""
   },
   "ipv6": {
    "mode": "disable"
   }
  }
 },
 "switch_port": {
  "0000006ddcb2b68f": {
   "name": "lan1",
   "enabled": true,
   "link_rate": "auto",
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  },
  "000107a092ba22d1": {
   "name": "lan2",
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "0002f431d2e8c5c0": {
   "name": "lan3",
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "00036e9d14867e9c": {
   "name": "lan4",
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  },
  "00049d9a4dd890c2": {
   "name": "lan5",
   "enabled": true,
   "link_rate": "auto",
   "mode": "trunk",
   "pvid": 1,
   "vid": [
    "all"
   ]
  }
 },
 "qos": {
  "uplink_rules": {},
  "user_rules": []
 }
}