{
 "ntp": {
  "enabled": true,
  "server": [
   {
    "address": "pool.ntp.org",
    "port": 123
   }
  ]
 },
 "dhcp": {
  "server": {
   "000094828db23456": {
    "enabled": true,
    "interface": "vlan1",
    "alias": "Default",
    "lease": 1440,
    "ip_pool": {
     "start_ip": "192.168.2.2",
     "end_ip": "192.168.2.254"
    },
    "option": {
     "domain_name": "",
     "dns_type": "auto",
     "dns1": "",
     "dns2": ""
    }
   }
  },
  "manual_bind": {}
 },
 "uplink": {
  "mode": "failover",
  "down_delay": 0,
  "link_detect": {
   "target": "",
   "target2": ""
  },
  "interface": {
   "0000f0804da7846f": {
    "name": "wan1",
    "priority": 1
   },
   "0000fbd1d5a379a8": {
    "name": "cellular1",
    "priority": 2
   }
  }
 },
 "data_usage": {
  "sim1": {
   "monthly_data_plan": {
    "enabled": false,
    "threshold": 1,
    "threshold_unit": "GB",
    "start_date": 1,
    "over_threshold_oper": "switch-sim"
   }
  },
  "sim2": {
   "monthly_data_plan": {
    "enabled": false,
    "threshold": 1,
    "threshold_unit": "GB",
    "start_date": 1,
    "over_threshold_oper": "switch-sim"
   }
  },
  "esim": {
   "monthly_data_plan": {
    "enabled": false,
    "threshold": 1,
    "threshold_unit": "GB",
    "start_date": 1,
    "over_threshold_oper": "switch-sim"
   }
  }
 },
 "system": {
  "hostname": "FWA02",
  "timezone": "UTC0",
  "language": "English",
  "web_timeout": 360,
  "reboot_enabled": true,
  "sip_alg": true,
  "cloud_enabled": true,
  "sfe_enabled": true,
  "mqtt_keepalive": 60,
  "log_cloud": true,
  "iface_cloud": "any",
  "country": "",
  "work_mode": "",
  "hw_reset_disabled": false,
  "log_server": {
   "enabled": false,
   "server": [
    {
     "address": "",
     "port": 514
    },
    {
     "address": "",
     "port": 514
    }
   ]
  }
 },
 "admin_access": {
  "http": {
   "enabled": false,
   "port": 80
  },
  "https": {
   "enabled": false,
   "local_enabled": true,
   "port": 443,
   "local_port": 443,
   "accept_addr": ""
  },
  "ssh": {
   "enabled": false,
   "local_enabled": true,
   "port": 22,
   "local_port": 22,
   "accept_addr": ""
  },
  "telnet": {
   "enabled": false,
   "local_enabled": true,
   "port": 23,
   "local_port": 23,
   "accept_addr": ""
  },
  "ping": {
   "enabled": false,
   "local_enabled": true,
   "accept_addr": ""
  }
 },
 "dns": {
  "dns1": "",
  "dns2": ""
 },
 "ddns": {},
 "admin": {
  "adm_user": "adm",
  "adm_password": "XuHvc/ET4d8K2hBjidBqAJLJUhnp3f1b3jLw/CwdRHGxMpC0t4lGD0MzFq0HJe6rbwz/tjyAs8p/Mp6Mzm3kxchDdtX12Qe5eId79EDnh31vCZUUEWqjpQKdKAXv2sQsK+eeCs4oGP5tEfv5CRPOAlebVbJZME0c485vVSADHij86UI2zvCijx720Ksxbc142YwiL094ISsl/BHGd7Xav5jofNnTH8loDb0QXw2pbxHGqojze5TJr40t+ek7eswbRXuy0sSkBiv0BDX+tsxVrfaPHM/W3XARMXdKV9Rp9mfZYizH+w8beiuh9xUAGbX/jGIDhScSUus4oOAe7FWxRQ=="
 },
 "email": {
  "receiver": [],
  "sender": {
   "enable": false,
   "server": "",
   "port": 25,
   "username": "",
   "password": "",
   "tls": false
  }
 },
 "alerts": {
  "email_out": []
 },
 "vxlan": {},
 "record": {
  "cpu_used": 70,
  "mem_used": 70
 },
 "link_quality": {
  "enabled": true,
  "delay": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "jitter": {
   "enable": false,
   "sustain": 5,
   "threshold": 200
  },
  "loss": {
   "enable": false,
   "sustain": 5,
   "threshold": 5
  },
  "signal": {
   "enable": false,
   "sustain": 5,
   "threshold": 1
  },
  "detect_type": "icmp",
  "dns_mode": {
   "dns_server_1": "",
   "dns_server_2": "",
   "dns_domain_1": "",
   "dns_domain_2": ""
  },
  "tcp_mode": {
   "tcp_server_1": "",
   "tcp_server_2": "",
   "tcp_server_port_1": 0,
   "tcp_server_port_2": 0
  }
 },
 "ipsec": {},
 "l2tp": {},
 "wlan_ap": {
  "00005b68f7e4ece6": {
   "name": "wlan1",
   "band": "2.4G",
   "mode": "ap",
   "enabled": true,
   "ssid": "FWA02-08E1A2",
   "auth": "WPA2-PSK",
   "encrypt": "CCMP",
   "key": "397LO0ZS",
   "vlan": 1,
   "channel": "Auto",
   "txpower_level": "auto",
   "txpower": 0,
   "ap_isolate": false,
   "hidden": false,
   "bandwidth": "20M"
  },
  "00011436a91e2691": {
   "name": "wlan2",
   "band": "5G",
   "mode": "ap",
   "enabled": true,
   "ssid": "FWA02-5G-08E064",
   "auth": "WPA2-PSK",
   "encrypt": "CCMP",
   "key": "397LO0ZS",
   "vlan": 1,
   "channel": "36",
   "txpower_level": "auto",
   "txpower": 0,
   "ap_isolate": false,
   "hidden": false,
   "bandwidth": "80M"
  }
 },
 "ippt": {
  "enabled": false,
  "bind_mac": "",
  "uplink": "",
  "downlink": "",
  "prefix_len": 16,
  "dhcp_enabled": true,
  "mode": "default",
  "lease": 2
 },
 "schedule_reboot": {
  "type": "never",
  "time": "00:00",
  "week_day": [
   "MON"
  ],
  "date": [
   1
  ]
 },
 "firewall": {
  "inbound_default": {
   "action": "deny"
  },
  "outbound_default": {
   "action": "permit"
  }
 },
 "policy_route": {
  "ip_rules": []
 },
 "qos": {
  "uplink_rules": {
   "0000f0804da7846f": {
    "interface": "wan1",
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps"
   },
   "0000fbd1d5a37908": {
    "interface": "cellular1",
    "egress_rate": "0Mbps",
    "ingress_rate": "0Mbps"
   }
  },
  "user_rules": []
 },
 "mac_filter": {
  "mode": "none",
  "mac_list": {}
 },
 "domain_filter": {
  "mode": "none",
  "domain_list": {}
 },
 "port_mapping": {},
 "nat": {
  "nat_rule": []
 },
 "lan": {
  "000094828db22074": {
   "name": "vlan1",
   "alias": "Default",
   "vlan": 1,
   "enabled": true,
   "mtu": 1500,
   "l3_vlan": true,
   "guest": false,
   "guest_uplink": "any",
   "guest_duration": "0h",
   "ipv4": {
    "dhcpc": false,
    "ip": "192.168.2.1",
    "prefix_len": 24
   },
   "ipv6": {
    "mode": "disable"
   }
  }
 },
 "wan": {
  "0001f0804da7846f": {
   "name": "wan1",
   "alias": "WAN",
   "enabled": true,
   "mtu": 1500,
   "nat": true,
   "ipv4": {
    "dhcpc": true,
    "ip": "",
    "prefix_len": 0,
    "gateway": "",
    "dns1": "",
    "dns2": ""
   },
   "pppoe": {
    "enabled": false,
    "username": "",
    "password": "",
    "local_ip": "",
    "remote_ip": ""
   },
   "ipv6": {
    "mode": "disable"
   }
  }
 },
 "switch_port": {
  "0000006ddcb2b68f": {
   "name": "lan1",
   "enabled": true,
   "link_rate": "auto",
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  },
  "000107a092ba22d1": {
   "name": "lan2",
   "enabled": true,
   "link_rate": "auto",
   "mode": "access",
   "pvid": 1,
   "vid": [
    1
   ]
  }
 },
 "cellular": {
  "modem": {
   "enabled": true,
   "nat": true,
   "sim1": {
    "enabled": true,
    "roaming": false,
    "profile": "auto",
    "profile2": "disable",
    "network_type": "auto",
    "band_lte": [
     "all"
    ],
    "band_nr": [
     "all"
    ],
    "nr5g_mode": "sa-nsa",
    "pin_code": "",
    "pdp_type": "ipv4",
    "ims": "auto"
   },
   "sim2": {
    "enabled": true,
    "roaming": false,
    "profile": "auto",
    "profile2": "disable",
    "network_type": "auto",
    "band_lte": [
     "all"
    ],
    "band_nr": [
     "all"
    ],
    "nr5g_mode": "sa-nsa",
    "pin_code": "",
    "pdp_type": "ipv4",
    "ims": "auto"
   },
   "esim": {
    "enabled": true,
    "roaming": false,
    "profile": "auto",
    "profile2": "disable",
    "network_type": "auto",
    "band_lte": [
     "all"
    ],
    "band_nr": [
     "all"
    ],
    "nr5g_mode": "sa-nsa",
    "pin_code": "",
    "pdp_type": "ipv4",
    "ims": "auto"
   },
   "conn_mode": "always-online",
   "dual_sim": {
    "enabled": true,
    "main_sim": "sim1",
    "priority": [
     "sim1",
     "esim",
     "sim2"
    ],
    "dial_timeout": 120,
    "backup_sim_policy": {
     "enable_rule": [],
     "usage_traffic": "0MB",
     "using_time": "0h",
     "revert_day": 1
    }
   },
   "mtu": 0,
   "ipv4": {
    "prefix_len": 32
   }
  },
  "profile": {
   "0": {
    "type": "ipv4",
    "apn": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "1": {
    "type": "ipv4",
    "apn": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "2": {
    "type": "ipv4",
    "apn": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "3": {
    "type": "ipv4",
    "apn": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "4": {
    "type": "ipv4",
    "apn": "",
    "auth": "auto",
    "username": "",
    "password": ""
   },
   "5": {
    "type": "ipv4",
    "apn": "",
    "auth": "auto",
    "username": "",
    "password": ""
   }
  }
 },
 "static_route4": {
  "000033e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default1",
   "next_hop": {
    "type": "interface",
    "interface": "wan1",
    "distance": 1
   }
  },
  "000133e78d9a3896": {
   "destination": "0.0.0.0/0",
   "desc": "default2",
   "next_hop": {
    "type": "interface",
    "interface": "cellular1",
    "distance": 2
   }
  }
 }
}